.text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  flex-direction: column;
  padding-left: 20%;
}
  

  .submit{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin-top: 5%;
    font-weight: bolder;
    padding-left: 20%;
    color:rgb(123, 186, 29) ;
        
  }

