.home{
    text-align: center;
    margin-top: 50px;

    
    .click{
        display: flex;
        align-items: center;  
        justify-content: space-around;
        margin: 7% 20%;
        color:  rgb(123, 186, 29);
        font-weight: bolder;
        
    }

    button{
        background-color: rgb(123, 186, 29);
        border-radius: 10px;
        padding: 15px;
        text-align: center;
    
    
    }
}